<h1>Leerdoel bijwerken</h1>

<%= form_for :goal, url: competence_goal_path(@competence, @goal), method: :patch do |f| %>


  <p>
    <%= f.label :Leerdoel %><br>
    <%= f.text_field :description %>
  </p>

  <p>
    <%= f.label :Behaald_omdat %><br>
    <%= f.text_area :reflection %>
  </p>
   <p>
    <%= f.label :Bewijsvoering %><br>
    <%= f.text_area :evidence %>
  </p>
   <p>
    <%= f.label :Activiteiten %><br>
    <%= f.text_area :activities %>
  </p>

  <p>
    <%= f.submit "leerdoel bijwerken", class: 'btn btn-primary' %>
  </p>

<% end %>

<%= link_to 'Terug naar overzicht', competence_path(@competence) %>
