<table class="table table-condensed goals">
  <tr>
    <td class="col-md-2"><b>Leerdoel</b></td>
    <td class="first_col">Ik wil leren om <%= @goal.description %></td>
  </tr>
    <tr>
      <td><b>Activiteit(en)</b></td>
      <td class="first_col">
        <ul>
        <% @activity.each do |a| %>
          <li><%= a.activity %></li>
        <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <td><b>Bewijsvoering</b></td>
      <td class="first_col"><%= @goal.evidence %></td>
    </tr>
    <tr>
      <td><b>Behaald omdat</b></td>
      <td class="first_col"><%= @goal.reflection %></td>
    </tr>
  </table>


<%= link_to competence_path(@competence), class:"btn btn-default btn-sm  pull-left" do %>
          <span class="glyphicon glyphicon-chevron-left"></span>
          Terug naar overzicht
        <% end %>
