<h3>Ik wil leren om <%= @goal.description %></h3>
<table class="table table-condensed ">
    <tr>
      <td class="col-md-2 first_col"><b>Activiteiten</b></td>
      <td class="first_col">
        <ul>
        <% @activity.each do |a| %>
          <li><%= a.activity %></li>
        <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <td class="first_col"><b>Bewijsvoering</b></td>
      <td class="first_col"><%= @goal.evidence %></td>
    </tr>
    <tr>
      <td class="first_col"><b>Behaald omdat</b></td>
      <td class="first_col"><%= @goal.reflection %></td>
    </tr>
  </table>


<%= link_to competence_path(@competence), class:"btn btn-default btn-sm  pull-left" do %>
          <span class="glyphicon glyphicon-chevron-left"></span>
          Terug naar overzicht
        <% end %>
