


<h3>Leerdoel: Ik wil leren om <%= @goal.description %></h3>
<table class="table table-condensed ">
<%= form_for :goal, url: competence_goal_path(@competence, @goal), method: :patch do |f| %>
    <tr>
      <td><b>Activiteiten</b></td>
      <td>
        <ul>
        <% @activity.each do |a| %>
          <li class=""><%= a.activity %></li>
        <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Bewijsvoering</td>
      <td><%= @goal.evidence %></td>
    </tr>
    <tr>
      <td>Behaald_omdat</td>
      <td><%= @goal.reflection %></td>
    </tr>
    <% end %>
  </table>


<%= link_to competence_path(@competence), class:"btn btn-default btn-sm  pull-left" do %>
          <span class="glyphicon glyphicon-chevron-left"></span>
          Terug naar overzicht
        <% end %>
