<table class="table table-striped table-bordered table-condensed table-hover">
  <tr>
    <th>Competenties</th>
    <th>EC's gevorderd</th>
    <th>EC's expert</th>
    <th>Meer informatie</th>
  </tr>

  <% @competences.each do |competence| %>
    <tr>
      <td><%= competence.name %></td>
      <td><%= competence.g_ec %></td>
      <td><%= competence.e_ec %></td>
      <td><%= link_to 'Bekijken', competence_path(competence) %></td>
    </tr>
  <% end %>
      <tr>
      <td></td>
      <td>Totaal: <%= Competence.sum(:g_ec)  %> EC</td>
      <td>Totaal: <%= Competence.sum(:e_ec)  %> EC</td>
      <td></td>
    </tr>
</table>
