<p>
  <strong>Competentie:</strong>
  <%= @competence.name %>
</p>

<h3>Leerdoelen</h3>
<% @competence.goals.each do |goal| %>
  <p>
    <strong>Leerdoel:</strong>
    <%= goal.description %>
  </p>

  <%= link_to 'Verwijder leerdoel', [goal.competence, goal], data: { confirm: 'Leerdoel verwijderen?' }, method: :delete %>



<% end %>


<h3>Leerdoel toevoegen:</h3>
<%= form_for([@competence, @competence.goals.build]) do |f| %>
  <p>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Ik wil leren om</span>
      <%= f.text_field :description, class:'form-control' %>
      <p>

</p>
  </div>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Terug naar overzicht', competences_path %>

