<h1>Competentie: <%= @competence.name %> </h1>
<ul class="nav nav-tabs">
  <li class="<%= 'active' if params[:tab] == 'goals_overview' || !params[:tab] %>"><a href="#goals_overview" data-toggle="tab">Overzicht leerdoelen</a></li>
  <li class="<%= 'active' if params[:tab] == 'goal_add' %>"> <a href="#goal_add" data-toggle="tab">Leerdoel toevoegen</a></li>
  <li class="<%= 'active' if params[:tab] == 'ec_add' %>"> <a href="#ec_add" data-toggle="tab">EC's</a></li>
</ul>
<div class="tab-content">
  <div id="goals_overview" class="<%= if (params[:tab] == 'goals_overview' || !params[:tab])then 'tab-pane active'  else 'tab-pane' end%>">
    <%= render 'leerdoelen' %>
  </div>
  <div id="goal_add" class="<%= if params[:tab] == 'goal_add' then 'tab-pane active'  else 'tab-pane' end%>">
     <%= render 'toevoegen' %>
  </div>
  <div id="ec_add" class="<%= if params[:tab] == 'ec_add' then 'tab-pane active'  else 'tab-pane' end%>">
    <%= render 'ec' %>
  </div>
</div>




