<p>
  <h1>Competentie: <%= @competence.name %> </h1>
</p>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#goals_overview">Overzicht leerdoelen</a></li>
    <li><a data-toggle="tab" href="#goal_add">Leerdoel toevoegen</a></li>
    <li><a data-toggle="tab" href="#ec_add">EC's toevoegen</a></li>
  </ul>

  <div class="tab-content">
    <div id="goals_overview" class="tab-pane fade in active">
      <h3>Leerdoelen:</h3>
      <p>
  <table class="table">
    <% @competence.goals.each do |goal| %>
     <tr>
       <td><strong>Ik wil leren om: </strong><%= goal.description %></td>
       <td><%= link_to [goal.competence, goal], data: { confirm: 'Leerdoel verwijderen?' }, method: :delete do %>
          <span class="glyphicon glyphicon-remove"></span>
        <% end %>
       </td>
       <td><%= link_to edit_competence_goal_path(@competence, goal) do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
       </td>
       <td><%= link_to competence_goal_path(@competence, goal) do %>
          <span class="glyphicon glyphicon-eye-open"></span>
        <% end %>
        </td>
      </tr>
    <% end %>
  </table></p>
    </div>
    <div id="goal_add" class="tab-pane fade">
      <h3>Leerdoel toevoegen:</h3>
      <p>
<%= form_for([@competence, @competence.goals.build]) do |f| %>
  <p>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Ik wil leren om</span>
      <%= f.text_field :description, class:'form-control' %>
      <p>

</p>
  </div>
  </p>
  <p>
    <%= f.submit("Leerdoel toevoegen") %>
  </p>
<% end %></p>

    </div>
    <div id="ec_add" class="tab-pane fade">
      <h3>EC's toevoegen:</h3>
      <%= form_for @competence do |f| %>
      EC's Gevorderd<%= f.select(:g_ec, ['0', '3','6','9','12'], {},{ :class => 'form-control' }) %>
      EC's Expert<%= f.select(:e_ec, ['0', '3','6','9','12'], {},{ :class => 'form-control' }) %>
      <%= f.submit("Ec´s toevoegen aan competentie") %>
      <% end %>
    </div>
  </div>






  <!-- <%= link_to 'Leerdoel Toevoegen', new_competence_goal_path(@competence, @goal) %> -->




<%= link_to 'Terug naar overzicht', competences_path %>

